In [3]:
# RegEx is a tool for matching patterns in a text of string that fprms a search pattern.

In [4]:
import re

In [8]:
my_text = '''Sachin scores 76 and Dravid scores 40 and Rohit scores 88 and
Dhoni scores 99.'''

print (my_text)

Sachin scores 76 and Dravid scores 40 and Rohit scores 88 and
Dhoni scores 99.

# findall() function returns a list containing all matches.

In [12]:
name  = re.findall(r'[A-Z][a-z]*', my_text)
print(name)

['Sachin', 'Dravid', 'Rohit', 'Dhoni']

In [10]:
n = len(name)
for i in range(0,n):
    print(name[i])

Sachin
Dravid
Rohit
Dhoni

In [13]:
run = re.findall(r'\d',my_text)
print(run)

['7', '6', '4', '0', '8', '8', '9', '9']

In [14]:

run_digit = re.findall(r'\d{2}',my_text)
print(run_digit)

['76', '40', '88', '99']

In [17]:
name_run = {}
j=0
for x in name:
    name_run[x]=run_digit[j]
    j+=1
    print(name_run)
print(name_run)

{'Sachin': '76'}
{'Sachin': '76', 'Dravid': '40'}
{'Sachin': '76', 'Dravid': '40', 'Rohit': '88'}
{'Sachin': '76', 'Dravid': '40', 'Rohit': '88', 'Dhoni': '99'}
{'Sachin': '76', 'Dravid': '40', 'Rohit': '88', 'Dhoni': '99'}

# search() returns a match object if there is match then it gives

In [21]:
str = '''My name is sandesh niroula 70'''

In [23]:
if re.search('70', str):
    print("item found")
    
else: 
    print("item not found")

item found

# To find index of sandesh

In [24]:
match = re.findall("sandesh",str)
print(match)

['sandesh']

In [26]:
for i in re.finditer("sandesh",str):
    index = i.span()
    print(index)

(11, 18)

In [31]:
str2 = '''Rat Cat Bat Mat Sat'''

In [33]:
data1 = re.findall(r'[RCB]', str2)
print(data1)

['R', 'C', 'B']

In [34]:
data2 = re.findall(r'[RCB][a-z]', str2)
print(data2)

['Ra', 'Ca', 'Ba']

In [35]:
data = re.findall(r'[RCB][a-z]*', str2)
print(data)

['Rat', 'Cat', 'Bat']

In [37]:
data3 = re.findall(r'[RCB][a-z][a-z][a-z]', str2)
print(data3)

[]

In [40]:
data4  = re.findall('[RCB]at',str2)
print(data4)

['Rat', 'Cat', 'Bat']

In [41]:
data5 = re.findall("[^RCB]at",str2)
print(data5)

['Mat', 'Sat']

In [42]:
data6 = re.findall("^[RCB]at",str2)
print(data6)

['Rat']